{% extends "MainApp/base.html" %}

{% block body %}
    <div class="container jumbotron">
        <ul>
            <H1>Help</H1>
            <li>1. Select a PDF to Upload.</li>
            <li>2. Press the 'Upload' button.</li>
            <li>3. Results will be shown.</li>
        </ul>
    </div>
{% endblock %}