{% extends "MainApp/base.html" %}

{% block body %}
    <div class="content jumbotron">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <H1>Upload PDF</H1>
                <br>
                <input type="file" name = "document">
                <button class="btn btn-light">Upload</button>
            </fieldset>
        </form>
    </div>
{% endblock %}