{% extends "MainApp/base.html" %}

{% block body %}
    <H2>Name: {{ Name }}</H2>

    <img src="{{ImgAddress}}">

    <H4>Probability: {{ Probability }}</H4>
    <br>
    <a href="{% url 'app-home' %}" class="btn btn-primary">Home</a>
{% endblock %}